<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    
    
    
    <title>Flixflix</title>
</head>
<body>
    <div id="home">
        <div id="header">
            <img src="./assets/shuffle.svg">
            <h1 id="title">
                What to watch now?
            </h1>
        </div>

        <div id="movie">
            <img id="movieImg" src="https://api.themoviedb.org/20/movie/550?api_key=4f4d83ea46e08a68241e86ac38f8d82a">
            <h1 id="name">NOMW DO FILEM</h1>
            <p id="about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore libero modi tempore ab, neque sed minus est assumenda aperiam omnis ducimus pariatur cumque totam magni adipisci blanditiis praesentium dicta consequatur!</p>
            
            <button id="new"><img src="./assets/shuffle.svg"> New Movie</button>
            
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>